.btn-azure, .btn-azure:focus {
    background-color: #ba68c8 !important;
    border-color: #9c27b0;
    color: #fff;
}

.btn-azure:hover,
.open .btn-azure.dropdown-toggle {
    background-color: #e1bee7 !important;
    border-color: #ba68c8;
    color: #fff
}

a>small{
    color:#9c27b0 ;
}